body {
  font-family: Arial, sans-serif;
  background-image: url('../images/contactUS.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #122633; */
  margin: 0;
  padding: 0;
}

.backtohome-btn {
  background-color: #02a2a2;
  border: 1px;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}
h3 {
  color: #ff5722;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-details i {
  font-size: 24px;
  margin-right: 10px;
}

.contact-details span {
  font-size: 16px;
}

.contact-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form-group button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #555;
}

.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
}

/* .contacts {
  padding-right: 20%;
} */

.main-container {
  margin-left: 10%;
}
